@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap')

$blue-gray: #666CA3
$dark-blue: #13183F
$gray: #83869a
$hot-pink: #f74780
$light-pink: #ffa7c3

*
    margin: 0
    padding: 0
    box-sizing: border-box
    transition: all ease 0.2s

body
    font-family: 'Plus Jakarta Sans', sans-serif
    background: linear-gradient(#ffffff 0%, #f2f2f2 100%)
    text-rendering: optimizeSpeed
    text-decoration: 0

h1
    font-size: 56px
    line-height: 70px
    font-weight: 800

h3
    font-size: 32px
    line-height: 40px
    font-weight: 800

p
    font-size: 18px
    line-height: 28px
    font-weight: 500
    color: $gray

picture,
img
    max-width: 100%    

.btn
    font-size: 18px
    line-height: 28px
    font-weight: 700
    border-radius: 50px
    padding: 14px 32px
    border: none
    cursor: pointer
    color: white
    transition: all ease 0.3s
    &:hover
        opacity: 0.7

.btn-black
    background-color: $dark-blue
   
.btn-orange
    background: linear-gradient( #ff6f48, #f02aa6)

.btn-purple
    background: linear-gradient(#4851ff, #f02aa6)

.cta
    font-size: 18px
    color: $hot-pink   

.container
    width: 1110px
    margin: 0 auto  

// Header    
#hero
    overflow: hidden
    h2
        font-size: 36px
        font-weight: 800

.banner
    position: relative

#header
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 24px
    cursor: pointer

#hero-text
    padding: 180px 0 226px 0
    width: 50%
    p
        margin-top: 29px
        margin-bottom: 40px

#hero-img
    position: absolute
    right: -335px
    top: -146px
    z-index: -1
    width: 80%

#courses
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    row-gap: 80px
    padding-bottom: 140px
    
#card1
    background: linear-gradient( #ff6f48, #f02aa6)
    color: white

.card
    position: relative
    border-radius: 15px
    background-color: white
    padding: 40px 32px
    cursor: pointer
    height: 322px
    h3
        padding-bottom: 24px
        padding-top: 32px
    p
        padding-bottom: 24px
    img
        position: absolute
        margin-top: -65px
    &:hover
        box-shadow: 0px 26px 50px rgba(6, 22, 141, 0.0442381)
        transition: all ease-in-out 0.5s
        opacity: 0.7
        transform: scale(1.03)
    .card-content
        position: absolute
        top: 0
        left: 32px
        padding: 32px 0 24px 0
    .cta
        position: absolute
        bottom: 0
        left: 32px
footer
    background-color: $dark-blue
    h2
        color: white
        font-size: 36px

#footer
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 32px
    padding-bottom: 32px
    img
        cursor: pointer
    
@media screen and (max-width: 1200px)  
    .container
        width: 689px  
    #hero h2
        font-size: 28px
    #hero-text
        padding: 99px 0 186px 0
        width: 60%
        h1
            font-size: 40px
            line-height: 51px
        p
            font-size: 16px
            line-height: 28px
            margin: 25px 0
    #hero-img
        right: -360px
        top: -190px
        width: 100%
    #courses
        grid-template-columns: repeat(2, 1fr)
        gap: 11px
        row-gap: 56px
        padding-bottom: 86px
    .card
        padding: 32px
        height: 259px
        h3
            font-size: 20px  
            padding: 24px 0 16px 0   
        p
            font-size: 16px
            line-height: 26px       
    .card:hover
        transform: scale(1)
    .btn
        font-size: 16px
        line-height: 16px    

    footer h2
        font-size: 28px

@media screen and (max-width:  800px)
    .container
        width: 343px
    #hero
        flex-direction: column
    #hero-text
        width: 100%
        padding: 38px 0 46px 0
        p
            margin: 26px 0 24px 0
        h1
            font-size: 40px
            line-height: 51px
   
    #hero-img
        position: initial
        width: 100%

    #courses
        grid-template-columns: 1fr
        row-gap: 40px
        .card
            padding: 32px 28px
            height: 259px
            img
                margin-top: -60px
            p
                padding: 16px auto 24px auto    
            &:hover
                transform: unset
        #card1
            height: 120px    
            h3
                font-size: 24px
                line-height: 32px   
                padding: 0      